* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(21, 122, 1);
    overflow: hidden;
} 

@keyframes darkKnightH {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: 128px;
    }
}

@keyframes darkKnightV {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: 192px;
    }
}

.darkKnight {
    width: 32px;
    height: 48px;
    background: url(../sprites/darkKnight.png);
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    animation:  darkKnightH 1s steps(4) infinite, darkKnightV 4s steps(4) infinite;
}
