* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #111;
    overflow: hidden;
} 

@keyframes dino {
    from {
        background-position: 0;
    }
    to {
        background-position: 6820px
    }
}

@keyframes moveDino {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

.dino {
    width: 682px;
    height: 474px;
    background: url(../images/dino.png);
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    animation: dino 0.8s steps(10) infinite, moveDino 4s linear infinite;
}